<%= simple_form_for @group do |f| %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: "form-cotrol"} %>
    <%= f.input :description,input_html: { class: "form-cotrol"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..."} %>
<% end %>
